.opticalFiber {
    overflow: visible;
}

.opticalFiberOutline {
    stroke: grey;
    stroke-width: 8;
    stroke-linecap: butt;
}

.opticalFiberInside {
    stroke: white;
    stroke-width: 6;
    stroke-linecap: butt;
}