@keyframes paperstackBefore {
    from {
        left: 0;
        top: 0;
        transform: rotate(0deg);
    }
    to {
        left: -5px;
        top: 4px;
        transform: rotate(-2.5deg);
    }
}

@keyframes paperstackAfter {
    from {
        left: 0;
        top: 0;
        transform: rotate(0deg);
    }
    to {
        right: -3px;
        top: 1px;
        transform: rotate(1.4deg);
    }
}

.paperstack {
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 550px;
    min-height: 100%;
    position: relative;
    width: 100%;
}
.paperstack:before,
.paperstack:after {
    content: '';
    height: 98%;
    position: absolute;
    width: 100%;
    z-index: -1;
}
.paperstack:before {
    background: #fafafa;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    animation: paperstackBefore 5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    animation-fill-mode: forwards;
}
.paperstack:after {
    background: #f6f6f6;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    animation: paperstackAfter 8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    animation-fill-mode: forwards;
}
